@import '../../styles/main.scss';
.dropdown-component-with-search-bar {
  width: 244px;
  @include largeDevice {
    width: calc(244px + 2vw);
  }

  width: 100%;
  &.filter {
    width: 147px;
    @include largeDevice {
      width: calc(147px + 2vw);
    }
  }
  a:focus {
    // outline-color: -webkit-focus-ring-color;
    // outline-style: auto;
    // outline-width: 5px;
    outline: none !important;
  }
  .search-box {
    &:focus {
      box-shadow: none;
      outline: none;
      border-top: none;
      border-right: none;
      border-left: none;
    }
    padding-left: 3px;
    font-family: Roboto;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #89888c;
    height: 40px;
    padding-left: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    border-bottom: 1px solid #e2e6f2;
    // border: none;
  }

  #search-box-dropdown {
    background-image: url('../../images/searchForDropdown.png');

    background-position: 11px;
    background-repeat: no-repeat;
    text-indent: 10px;
  }
  
  .list-unstyled {
    margin-bottom: 0px !important;
    max-height: 180px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  .input-label {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.98px;
    color: #595959;
    text-transform: uppercase;
    &.filter {
      font-size: 11px;
      letter-spacing: 0.9px;
      color: #595959;
    }
    &.lable-error {
      color: #fc5e34;
    }
  }
  .input-error {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #fc5e34;
  }
  .custom-dropdown.show {
    .custom-dropdown-dispaly {
      border: solid 1px #3f3e45;
      color: #3f3e45;
    }
  }
  ._2iA8p44d0WZ-WqRBGcAuEV{
    &::before {
      content: url('../../images/arrow-down.png');
      position: absolute;
      right: 9px;
      top:10px
    }
  }
  .custom-dropdown-dispaly   {
    border-radius: 3px;
    border: solid 1px #b2b2b5;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #89888c;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 20px 5px 10px;
    width: 100%;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    &::before {
      content: url('../../images/arrow-down.png');
      position: absolute;
      right: 9px;
    }
    text-align: left;
    &.filter {
      height: 30px;
      font-size: 14px;
      color: #acacac;
      border: solid 1px #595959;
    }
    &.dropdown-error {
      border-color: #fc5e34 !important;
    }
    &:disabled {
      background-color: #ededed;
      border-color: #b2b2b5;
    }
  }

  .dropdown-toggle::after {
    content: none;
  }

  .custom-dropdown-list {
    width: 100%;
    padding: 0px;
    border: 1px solid #e2e6f2;
    border-radius: 3px;

    // max-height: 168px;
    // overflow-y: scroll;
    // &::-webkit-scrollbar {
    //   width: 4px;
    // }
    // &::-webkit-scrollbar-track {
    //   background-color: transparent;
    // }
    &.filter {
      max-height: 120px;
    }
    // .custom-dropdown-items:first-child {
    //   color: red !important;
    // }
    .custom-dropdown-items {
      min-height: 40px;
      white-space: normal;
      word-break: break-word;
      display: flex;
      padding: 7.5px 10px;
      align-items: center;
      border-bottom: 1px solid #e0e0e1;
      color: #3f3e45;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 0;
      line-height: 24px;
      &:active {
        background-color: transparent;
      }
      &.filter {
        min-height: 30px;
        font-size: 14px;
        padding: 3px 10px;
      }
    }
    .dropdown-item.active {
      background-color: transparent;
      font-weight: 500;
    }
    .no-option-message {
      height: 35px;
      display: flex;
      padding: 10px;
      align-items: center;
      border-bottom: 1px solid #e0e0e1;
      color: #3f3e45;
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0;
      line-height: 24px;
      opacity: 0.8;
    }
  }
}