@import "../../styles/main.scss";
@import "../../styles/form.scss";

.input-with-label {
  display: flex;
  flex-direction: column;
  width: 364px;
  .form-file-input {
    @include form-file-input(355px, 42px, 244px, 81px);
    @include largeDevice() {
      // @include form-file-input(
      //   calc(355px + 2vw),
      //   42px,
      //   calc(244px + 2vw),
      //   calc(81px + 2vw)
      // );
    }
    .name-with-remove {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .name-with-remove span {
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4f4b69;
    }
  }
  .allowed-file-types {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #595959;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .padding-top-10 {
    padding-top: 10px;
  }
  .form-input-label {
    margin-bottom: 10px;
    height: 14px;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.15px;
    color: #161038;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #595959;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0.98px;
    line-height: 14px;
    text-transform: uppercase;
    &.error {
      color: #fc5e34;
    }
  }
  .file-input {
    // background-color: white;
    .file-placeholder {
      overflow: hidden;
      // width: 95%;
      width: 230px;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
      height: 19px;
      // width: 121px;
      color: #89888c;
      font-family: Roboto;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 19px;
      top: 10px;
      left: 10px;
    }
  }
  .form-control {
    box-sizing: border-box;
    height: 42px;
    border: 1px solid #b2b2b5;
    border-radius: 3px;
    background-color: #ffffff;
    color: #595959;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    &.disabled {
      color: #252526 !important;
      font-weight: 400;
      pointer-events: none;
      height: 32px;
      background-color: #f7f9fe;
    }
    &.error {
      border-color: #fc5e34;
    }
  }
  .btn-upload {
    @include btn-cancel();
  }
  .error {
    border-color: #fc5e34;
    color: #fc5e34;
  }
  .round-cancel-icon {
    height: 16px;
    width: 16px;
  }
}
