.custome-date-picker-component {
  // z-index: 888;
  .input-label {
    color: #595959;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0.98px;
    line-height: 14px;
    text-transform: uppercase;
    &.error {
      color: #fc5e34;
    }
  }
  .date-input {
    font-weight: 400;
  }
  .datepicker-edit-icon {
    padding-left: 20px;
    align-self: center;
    z-index: 1;
  }
  .form-control {
    box-sizing: border-box;
    height: 42px;
    border: 1px solid #b2b2b5;
    border-radius: 3px;
    background-color: #ffffff;
    color: #595959;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    word-break: normal;
    &.disabled {
      color: #252526 !important;
      font-weight: 400;
      pointer-events: none;
      height: 32px;
      background-color: #f7f9fe;
    }
    &.error {
      border-color: #fc5e34;
    }
  }
  .helper-text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #595959;
    // white-space: nowrap;
    // overflow: hidden;
    // display: block;
    // text-overflow: ellipsis;
    &.error {
      color: #fc5e34;
    }
  }
}
